openapi: 3.2.0
info:
  title: Terra Activity API
  description: Terra is a unified wearables and health-data API that aggregates data from 500+ wearables, fitness trackers, and health apps (Garmin, Fitbit, Oura, Apple Health, Whoop, Strava, Google Fit, Polar, Withings, and more) behind a single normalized REST interface.
  version: '2.0'
  contact:
    name: Terra
    url: https://tryterra.co
  license:
    name: Proprietary
    url: https://tryterra.co
servers:
- url: https://api.tryterra.co/v2
  description: Terra API v2
security:
- devId: []
  apiKey: []
tags:
- name: Activity
  description: Workout and exercise sessions.
paths:
  /activity:
    get:
      operationId: getActivity
      tags:
      - Activity
      summary: Get activity (workout) data
      description: Retrieves normalized workout and exercise sessions for a user over a date range. When to_webhook is true (default), the payload is fetched asynchronously and streamed to your webhook destination.
      parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/StartDate'
      - $ref: '#/components/parameters/EndDate'
      - $ref: '#/components/parameters/ToWebhook'
      - $ref: '#/components/parameters/WithSamples'
      responses:
        '200':
          description: Activity payload (inline) or acknowledgement (webhook delivery).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  parameters:
    StartDate:
      name: start_date
      in: query
      required: true
      schema:
        type: string
      description: Start of the date range (ISO 8601 date or Unix timestamp).
    EndDate:
      name: end_date
      in: query
      required: false
      schema:
        type: string
      description: End of the date range. Defaults to now if omitted.
    WithSamples:
      name: with_samples
      in: query
      required: false
      schema:
        type: boolean
      description: Include granular time-series samples in the payload.
    UserId:
      name: user_id
      in: query
      required: true
      schema:
        type: string
      description: The Terra user ID to fetch data for.
    ToWebhook:
      name: to_webhook
      in: query
      required: false
      schema:
        type: boolean
        default: true
      description: When true (default), the payload is fetched asynchronously and streamed to your configured webhook destination instead of returned inline.
  responses:
    RateLimited:
      description: Rate limit exceeded. Terra meters data-read endpoints by a per-user day-budget (days requested = end_date - start_date), not a per-second cap. Response includes X-Terra-RateLimit-* headers and Retry-After.
    Unauthorized:
      description: Missing or invalid dev-id / x-api-key credentials.
  securitySchemes:
    devId:
      type: apiKey
      in: header
      name: dev-id
      description: Your public Terra developer identifier.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Your secret Terra API key.
